body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.link:hover,
.link:active {
  color: #404bbf;
}

.title1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.071;
  color: #ffffff;
}

.title2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  color: #2e2f42;
  text-align: center;
}

.title3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 3%;
  color: #2e2f42;
}

.buttons {
  cursor: pointer;
}

nav {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #2e2f42;
}

#main-title {
  background-color: 2e2F42;
}

button {
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 4%;
  color: #ffffff;
}

#team {
  text-align: center;
}

footer {
  background-color: 2e2F42;
}

footer p {
  color: #f4f4fd;
}
